.iconDisplay {
  display: flex;
  justify-content: space-around;
}

html {
  min-height: 100%; /* make sure it is at least as tall as the viewport */
  position: relative;
}

#recipeButton {
  /* background-color: #fe4e8a; */
  background-color: #db3d44;
  border: none;
  width: 70%;
}

.spanDisplay {
  color: #db3d44;
  font-size: 18px;
}

#modal {
  width: 50%;
  max-width: none;
  font-family: 'Josefin Sans', sans-serif;
}
